@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  color: #20b15a;
}

@media (min-width: 320px) and (max-width: 576px) {
  nav {
    padding-right: 10px;
    padding-left: 10px;
  }
  .phonemenuitem {
    background: black;
    margin: 0 auto !important;
    margin-top: 20px !important;
    padding: 15px;
    border-radius: 10px;
    color: white;
  }
  .slick-dots {
    /* background: rgb(128, 127, 127); */
    width: 160px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 0 !important;
  }
  .slick-dots li {
    background: rgb(176, 175, 175);
    width: 20px !important;
    height: 5px !important;
    padding: 0 !important;
  }
  .slick-dots .slick-active {
    background: #ffffff;
  }
  .slick-dots li button:before {
    font-size: 0px;
  }
}
